<aside class="sidebar">
  <div class="sidebar-logo">
    <div class="sidebar-logo-icon">L</div>
    <span class="sidebar-logo-text">LOC MNS</span>
  </div>
  <ul class="sidebar-nav">
        <li><a [routerLink]="['dashboard']">Tableau de bord</a></li>
        <li><a [routerLink]="['materiels']">Matériels</a></li>
        <li><a [routerLink]="['emprunts']">Emprunts</a></li>
        <li><a [routerLink]="['planning']">Planning</a></li>
        <li><a [routerLink]="['utilisateurs']">Utilisateurs</a></li>
        <li><a [routerLink]="['documents']">Documents</a></li>
        <li><a [routerLink]="['alertes']">Alertes</a></li>
    </ul>
</aside>