<aside class="sidebar">
  <div class="sidebar-logo">
    <div class="sidebar-logo-icon">L</div>
    <span class="sidebar-logo-text">LOC MNS</span>
  </div>
  <ul class="sidebar-nav">
        <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Tableau de bord</a></li>
        <li><a [routerLink]="['/materiels']" routerLinkActive="active">Matériels</a></li>
        <li><a [routerLink]="['/emprunts']" routerLinkActive="active">Emprunts</a></li>
        <li><a [routerLink]="['/planning']" routerLinkActive="active">Planning</a></li>
        <li><a [routerLink]="['/utilisateurs']" routerLinkActive="active">Utilisateurs</a></li>
        <li><a [routerLink]="['/documents']" routerLinkActive="active">Documents</a></li>
        <li><a [routerLink]="['/alertes']" routerLinkActive="active">Alertes</a></li>
    </ul>
</aside>