<h1>Gestion des emprunts</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Matériel</th>
      <th scope="col">Demandeur</th>
      <th scope="col">Date début</th>
      <th scope="col">Date retour prévue</th>
      <th scope="col">Statut</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (emprunt of emprunts(); track emprunt.id) {
      <tr>
        <td>{{ emprunt.materiel?.nomMateriel }}</td>
        <td>{{ emprunt.personne?.prenom }} {{ emprunt.personne?.nom }}</td>
        <td>{{ emprunt.dateDebut | date:'dd/MM/yyyy' }}</td>
        <td>{{ emprunt.dateRetourPrevue | date:'dd/MM/yyyy' }}</td>
        <td>{{ emprunt.statutDemande }}</td>
        <td>
          @if (emprunt.statutDemande === 'VALIDEE') {
            <input #dateRetour type="date" [value]="dateDuJour">
            <select #nouvelEtat>
              @for (etat of etats(); track etat.id) {
                <option [value]="etat.id">{{ etat.libelleEtat }}</option>
              }
            </select>
            <button (click)="retour(emprunt.id, dateRetour.value, nouvelEtat.value)">
              Enregistrer le retour
            </button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>